<!--IF THERE IS A SUCCESS VARIABLE AND IT IS IN THE ARRAY, DISPLAY THE MESSAGE-->
<% if(success && success.length){%> 

<div class="alert alert-success alert-dismissible fade show" role = "alert">
    <%= success %> 
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> 
</div>

<% } %> 