<% layout('layouts/boilerplate.ejs') %> 

<div class= "row">
    <div class="col-6 offset-3">
        <div class="alert alert-danger pb-5" role="alert">
            <h4 class="alert-heading pb-3"><%= err.statusCode %> <%= err.message %></h4>
            <p>Oops Something Went Wrong....</p>
        </div>
    </div>
</div>
