<% layout('layouts/boilerplate.ejs') %> 

<div class= "row">
    <div class="col-6 offset-3">
        <div class="alert alert-danger pb-5" role="alert">
            <h3 class="alert-heading">Error Code: <%= err.statusCode %> </h3>
            <h5 class = "pb-3"><%= err.message %></h5>
            <p>Oops Something Went Wrong....</p>
        </div>
    </div>
</div>
