<% layout('layouts/boilerplate.ejs') %> 

<h1>List Of All Parks</h1>
<a href = '/'>Back to Home</a>
<% for(let park of parks){ %>
    <h1><a href = '/parks/<%= park._id %>'><%= park.name %></a></h1>
<% } %>
